$primary-dark: #252525;
$secondary-dark: #333333;
$primary-light: #ffffff;
$shadow-color: #202020;
$menu-shadow-color: #252525;
$grad1: #FFF6B7;
$grad2: #FDD1A8;
$grad3: #FBAD99;
$grad4: #F9898A;
$grad5: #F7657B;
$grad6: #F6416C;

$header-line-height: 0.2rem;
$header-above-padding: 12rem;
$header-line-top-margin: 0.3rem;
$header-line-bot-margin: 3rem;

$font-size-title: 2.4rem;
$font-size-text: 2rem;

@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Gentium Basic', serif;
html {
    font-size: 62.5%
}

body {
    background-color: $primary-dark !important;
    font-size: $font-size-text;
}

::-webkit-scrollbar {
    display: none;
}

* {
    border-radius: 0 !important;
}

// NAVBAR ---------------------------------------------------------------------
#topNav {
    padding-top: 1.5rem;
}

#logoBox {
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
}

#logo {
    height: 5rem;
    width: 25rem;
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
    line-height: 5rem;
    font-size: $font-size-title;
    letter-spacing: 0.7rem;

    font-family: 'Open Sans', sans-serif;
    color: $primary-dark;
    font-weight: 300;
    bold {
        font-weight: 600;
    }
    text-align: center;

    outline: none;
    background: linear-gradient(145deg,
    $grad1,
    $grad6);
    background-size: 180% 180%;
    transition: all 0.5s ease-in-out;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    50% {
        background-position: 100% 0;
    }
}

#navbarSupportedContent {
    //background: $secondary-dark;
}

#navHamMenu {
    background-color: $secondary-dark;
    height: 5rem;
    width: 5rem;
    padding: 0rem;
    margin: 0rem;
}
#triangleDown {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;

    border-top: 1.2rem solid $grad4;
}

#menuoptions {
    border: solid 0.1rem $secondary-dark;
}

#navAbout,
#navCode,
#navArt,
#navContact,
#navStore {
    height: 5rem;
    margin: 0rem;
    padding: 0rem;
    padding-left: $font-size-text;
    padding-right: $font-size-text;
    background-color: $primary-dark;
    line-height: 5rem;

    font-family: 'Open Sans', sans-serif;
    color: $primary-light;
    text-align: center;
    font-weight: 300;
    font-size: $font-size-text;

    transition: all 0.5s ease-in-out;
}

#navAbout {
    &:hover {
        background: $grad2;
        color: $primary-dark;
    }
}

#navCode {
    &:hover {
        background: $grad3;
        color: $primary-dark;
    }
}

#navArt {
    &:hover {
        background: $grad4;
        color: $primary-dark;
    }
}

#navContact {
    &:hover {
        background: $grad5;
        color: $primary-dark;
    }
}

#navStore {
    font-family: 'Open Sans', sans-serif;
    color: $primary-dark;
    font-weight: 600;
    text-align: center;

    outline: none;
    background: linear-gradient(145deg, $grad1, $grad6);
    background-size: 200% 200%;
    transition: all 0.5s ease-in-out;

    &:before {
        content: 'store';
    }
    &:hover:before {
        content: 'coming soon';
    }
    &:hover {
        animation: gradient 5s ease infinite;
    }
}

@keyframes gradient {
    50% {
        background-position: 100% 0;
    }
}

// BACKGROUND -----------------------------------------------------------------
.banner-img {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    position: absolute;
    display: flex;

    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s;
}

#imgMain {
    z-index: -1;
}

#imgAbout {
    z-index: -2;
    background: url("../img/img_me.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#imgCode {
    z-index: -3;
    background: url("../img/img_code.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#imgArt {
    z-index: -4;
    background: url("../img/img_smilodon.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#imgContact {
    z-index: -5;
    background: url("../img/img_question.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#imgStore {
    z-index: -6;
}

#welcome {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.5 * $font-size-title;
        letter-spacing: 0.7rem;
        text-align: center;

        background: linear-gradient(145deg, $grad1, $grad6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-weight: 300;
        bold {
            font-weight: 600;
        }
    }
    h2 {
        font-family: 'Gentium Basic', serif;
        font-size: $font-size-title;
        letter-spacing: 0rem;
        text-align: center;
        color: $primary-light;
    }
}

// CONTENT --------------------------------------------------------------------
.main-content {
    color: $primary-light;

    h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: $font-size-title;
        letter-spacing: $font-size-title/4;
        text-align: center;

        font-weight: 300;
        bold {
            font-weight: 600;
        }
    }
    h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: $font-size-text;
    }
    p {
        font-family: 'Gentium Basic', serif;
        font-size: $font-size-text;
    }
    a {
        display: inline-block;
        font-size: $font-size-text;
        font-weight: 300;

        &:link {
            text-decoration: underline;
            color: $primary-light;
        }
        &:visited {
            text-decoration: underline;
            color: $primary-light;
        }
        &:hover {
            text-decoration: underline;
            color: $grad1;
        }
        &:active {
            text-decoration: underline;
            color: $grad1;
        }
    }
    bold {
        font-weight: 600;
    }
}

.code-pic.shadow {
    box-shadow: inset 0rem 0rem 5vw 1vw $shadow-color;
    -webkit-box-shadow: inset 0rem 0rem 5vw 1vw $shadow-color;
    -moz-box-shadow: inset 0rem 0rem 5vw 1vw $shadow-color;
    -o-box-shadow: inset 0rem 0rem 5vw 1vw $shadow-color;
}

.art-box.shadow {
    box-shadow: inset 0rem 0rem 8vw 1vw $shadow-color;
    -webkit-box-shadow: inset 0rem 0rem 8vw 1vw $shadow-color;
    -moz-box-shadow: inset 0rem 0rem 8vw 1vw $shadow-color;
    -o-box-shadow: inset 0rem 0rem 8vw 1vw $shadow-color;
}

#menuoptions.shadow, #logoBox.shadow, #navHamMenu.shadow {
    box-shadow: 0px 0px 4rem 1rem $menu-shadow-color;
    -webkit-box-shadow: 0px 0px 4rem 1rem $menu-shadow-color;
    -moz-box-shadow: 0px 0px 4rem 1rem $menu-shadow-color;
    -o-box-shadow: 0px 0px 4rem 1rem $menu-shadow-color;
}

.title-spacing {
    height: $header-above-padding;
}

// ABOUT ------------------------------
#rowAboutHeader {
    color: $grad2;
}

#rowAboutLine {
    background: linear-gradient(90deg, $grad1, $grad2, $grad3);
    height: $header-line-height;
    margin-top: $header-line-top-margin;
    margin-bottom: $header-line-bot-margin;
}

#rowAbout {
    h4 {
        color: $grad2;
    }
}

// CODE -------------------------------
#rowCodeHeader {
    color: $grad3;
}

#rowCodeLine {
    background: linear-gradient(90deg, $grad2, $grad3, $grad4);
    height: $header-line-height;
    margin-top: $header-line-top-margin;
}

#rowCode {
    h4 {
        color: $grad3;
    }
}

.code-box {
    background: none;
    transition: all 1s ease-in-out;
    margin-top: $header-line-bot-margin;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 767px) {
    .code-pic {
        min-height: 33vh !important;
    }
}
.code-txt {
    background: $secondary-dark;
    padding: $font-size-text !important;

    h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: $font-size-text;
        letter-spacing: 0rem;
        margin-bottom: $font-size-text;
        text-align: left;
        color: $grad3;
        bold {
            font-weight: 600;
        }
    }
    p {
        font-family: 'Gentium Basic', serif;
        font-weight: 300;
        font-size: $font-size-text;
        margin-bottom: $font-size-text;
        bold {
            font-weight: 600;
        }
    }
}

.code-req-list {}

.code-req {
    background: none;
    border: 0.1rem solid $grad3;
    display: inline-block;
    padding: 1rem;
    margin: 0.2rem;

    font-family: 'Gentium Basic', serif;
    font-weight: 300;
    font-size: $font-size-text;
}

#code-pweb { 
}

#code-pweb-pic {
    background: url("../img/code/pweb.jpg") no-repeat center;
    background-size: cover;
}
#code-data {
}

#code-data-pic {
    background: url("../img/code/placeholder.png") no-repeat center;
    background-size: cover;
}
#code-flyr {
}

#code-flyr-pic {
    background: url("../img/code/flyr.jpg") no-repeat center;
    background-size: cover;
}

// ART -------------------------------
#rowArtHeader {
    color: $grad4;
}

#rowArtLine {
    background: linear-gradient(90deg, $grad3, $grad4, $grad5);
    height: $header-line-height;
    margin-top: $header-line-top-margin;
    margin-bottom: $header-line-bot-margin;
}

#rowArt {
    h4 {
        color: $grad4;
    }
}

#gallery {}

.art-box {
    background-color: $secondary-dark;
    width: 100%;
    padding-bottom: 100%;
    margin-top: $header-line-bot-margin - 1.5rem;
    position: relative;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .art-box-text {
        // All this shit to center it
        position: absolute;
        top: 45%;
        margin-top: -0.5em;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        justify-content: center;
        align-items: center; // Don't block the goddamn hover
        pointer-events: none;

        h3 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: $font-size-text;
            text-align: center;
            letter-spacing: 0rem;
            color: $grad4;
        }
        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: $font-size-text;
            text-align: center;
            letter-spacing: 0rem;
            line-height: 4rem;
            color: $primary-light;
        } // Hidden at first
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
}

#skywardImg {
    background: url("../img/art/skyward.jpg") no-repeat center;
    background-size: cover;
}

#kannaImg {
    background: url("../img/art/kanna.jpg") no-repeat center;
    background-size: cover;
}

#kanekireImg {
    background: url("../img/art/tgre.jpg") no-repeat center;
    background-size: cover;
}

// CONTACT -------------------------------
#rowContactHeader {
    color: $grad5;
}

#rowContactLine {
    background: linear-gradient(90deg, $grad4, $grad5, $grad6);
    height: $header-line-height;
    margin-top: $header-line-top-margin;
    margin-bottom: $header-line-bot-margin;
}

#rowContact {
    h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: $font-size-text;
        letter-spacing: 0rem;
        text-align: right;
        color: $grad5;
    }
}

// FOOTER -----------------------------
#jumboFooter {
    background-color: $secondary-dark;
    margin: 0rem;
    margin-top: $header-above-padding;
    padding: 0rem;
}

#rowFooter {
    h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: $font-size-text;
        letter-spacing: normal;
        margin-bottom: 1rem;
        text-align: right;
        color: $grad6;
        padding-top: $font-size-text;
        padding-bottom: $font-size-text;
        margin: 0rem;
    }
}